<div class="flex-wrapper-big darkblock">
    <div class="infoblock darkblock">
        <h1>Contact Us</h1>
    </div>
</div>    
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>To learn more about your opportunities with FEDSIM and be contacted by a team member, <br>
            please fill out and submit the form below.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <form class="cf">
        <div class="flex-wrapper">
            <div class="half left cf">
                <input type="text" id="input-fname" placeholder="First Name">
                <input type="text" id="input-lname" placeholder="Last Name">
                <input type="text" id="input-agency" placeholder="Agency (Optional)">
                <input type="text" id="input-company" placeholder="Company (Optional)">
            </div>
            <div class="half right cf">
                <input type="email" id="input-email" placeholder="Email address">
                <input type="text" id="input-phone" placeholder="Phone (Optional)">
                <textarea name="message" type="text" id="input-overview" placeholder="Project Overview" style="height:120px;"></textarea>
            </div>
        </div>  
        <div class="flex-wrapper">
            {% asset Logo_Fedsim_sm.png %} <input type="submit" value="Submit" id="input-submit">
        </div>
    </form>
</div>
