<div class="flex-wrapper-big">
    <div class="infoblock withSideBuffer">
        <h2>Federal Industry Acquisition Council</h2>
        <p>Active procurements listed are in the stage of collecting requirements and solicitation development with the client. All official notifications will be transmitted via eBay. For updates, visit our Leadership page to identify the designated point of contact. </p>
        <p style="font-weight: bold;">Committees
            <br>
        The FIAC has four active committees If you interested in joining, please complete the interest form online.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="darkblock one-fourth sidepadded">
<h4 class="whitetext">Streamlined Acquisition</h4>
<p>Focuses on improving the procurement process and overal FEDSIM experience, whether through policy, best practices, or process change.</p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-alt one-fourth  sidepadded">
<h4 class="whitetext">Small Business</h4>
<p>Focuses on engaging the small business community, whether through GSA, AAS, FEDSIM opportunities, matchmaking with large businesses, or as outreach to the federal GOVCON small business community.</p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock one-fourth  sidepadded">
<h4 class="whitetext">COVID-19 Working Group</h4>
<p>Focuses on process and policy impacts resulting from the global coronavirus pandemic as it relates to GSA AAS operations. Outputs from this group inform the larger streamlines acquisition committee.</p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-alt one-fourth  sidepadded">
<h4 class="whitetext">Marketing/<br>Outreach</h4>
<p>Focuses on educating the federal market on GSA AAS FEDSIM, sharing successes, promoting compitition, and fostering awareness of FEDSIM's capabilities.</p>
    </div>
</div>