<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h2>Federal Industry Acquisition Council</h2>
        <p>FEDSIM created the Federal Industry Acquisition Council, commonly referred to as the &quot;FIAC&quot;, to ensure ongoing communication with industry leaders. The FIAC brings together members of the government contracting community and AAS leadership to provide an invaluable forum for open dialogue within the federal acquisition industry. </p>
        <p style="font-weight: bold;">The FIAC has four active committees If you interested in joining, please complete the interest form online.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="darkblock one-fourth sidepadded">
<h4 class="whitetext">Streamlined Acquisition</h4>
<p>Focuses on improving the procurement process and overal FEDSIM experience, whether through policy, best practices, or process change.</p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-alt one-fourth  sidepadded">
<h4 class="whitetext">Small Business</h4>
<p>Focuses on engaging the small business community, whether through GSA, AAS, FEDSIM opportunities, matchmaking with large businesses, or as outreach to the federal GOVCON small business community.</p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock one-fourth  sidepadded">
<h4 class="whitetext">COVID-19 Working Group</h4>
<p>Focuses on process and policy impacts resulting from the global coronavirus pandemic as it relates to GSA AAS operations. Outputs from this group inform the larger streamlines acquisition committee.</p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-alt one-fourth  sidepadded">
<h4 class="whitetext">Marketing/<br>Outreach</h4>
<p>Focuses on educating the federal market on GSA AAS FEDSIM, sharing successes, promoting compitition, and fostering awareness of FEDSIM's capabilities.</p>
    </div>
</div>
<br>
<div class="flex-wrapper-big withborder">
    <!-- left side -->
    <div class="half-block right-aligned" style="color: var(--fedsim-blue1);">
        <h1>EVENTS<br>CALENDAR</h1>
        <p class="post-text">Recurring <i class="arrow-bullet"></i></p>
        <p class="post-text">Upcoming <i class="arrow-bullet"></i></p>
        <p class="post-text">Past <i class="arrow-bullet"></i></p>
        <br>
    </div>
    <div class="bio-spacer withborder-left"></div>
    <!-- current events -->
    <div class="half-block">
        
    </div>
    <!-- past events -->
    <div class="half-block">
        
    </div>
</div>
<br>
<div class="flex-wrapper-big darkblock">
    <div class="infoblock darkblock">
        <h1>FIAC Registration</h1>
    </div>
</div>    
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>Please submit your registration below to be included in FIAC communications.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <form class="cf">
        <div class="flex-wrapper">
            <div class="half left cf">
                <input type="text" id="input-name" placeholder="Full Name">
                <input type="email" id="input-email" placeholder="Email address">
            </div>
            <div class="half right cf">
                <input type="text" id="input-job" placeholder="Job Title">
                <input type="text" id="input-inc" placeholder="Test INC">
            </div>
        </div> 
        <div class="flex-wrapper">
            <p>Is your company a small business?</p><br>
            <input type="radio" id="sm-yes" name="is-sm" value="yes">
            <label for="sm-yes">Yes</label>
            <input type="radio" id="sm-no" name="is-sm" value="no">
            <label for="sm-no">No</label>
        </div>
        <div class="flex-wrapper">
            {% asset Logo_Fedsim_sm.png %} <input type="submit" value="Submit" id="input-submit">
        </div>
    </form>
</div>
