<footer class="usa-footer site-footer" role="contentinfo">
  <hr class="footer-border">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col footer_side_left" style="text-align: right; margin-right: 20px;">
          <h3>Reference</h3>
          <ul class="add-list-reset">
            <li>Financial Report</li>
            <li>Budget and Performance</li>
            <li>Freedom of Information Act Requests</li>
            <li>Plans and Reports</li>
            <li>Policies</li>
          </ul>
        </div>
        <div class="tablet:grid-col footer_side_right" style="text-align: left; margin-left: 20px;">
          <h3>Website Information</h3>
          <ul class="add-list-reset">
            <li>Accessibility</li>
            <li>Linking</li>
            <li>Privacy and Security</li>
            <li>Bug/Issue Reporting</li>
            <li>Privacy Related Inquiries</li>
            <li>Sitemap</li>
          </ul>
        </div>
        <div class="tablet:grid-col"></div>
      </div>
      <div>
        <div class="logo-links">
        <a class="footer-logo media_link" href="https://18f.gsa.gov">
          {% asset Logo_GSA.png alt="GSA logo" %}
        </a>
        </div>
        <div class="social-links">
         
        </div>
      </div>
    </div>
  </div>
</footer>