<div class="flex-wrapper-big">
    <div class="infoblock">
        <h2>Getting Started with FEDSIM</h2>
        <p class="withSideBuffer">FEDSIM's assisted acquisition focuses on complex acquisition requirements that can range from IT to professional services. Our acquisition and program management staff has a deep understanding that allow us to delivery high quality solutions. FEDSIM follows the FAR/DFAR and agency specific acquisition regulations. </p>
    </div>
</div>

<div class="flex-wrapper-big darkblock">
    <h2 class="whiteText">Get Started at FEDSIM in Three Easy Steps!</h2>
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big darkblock">
    <div class="third-block">
        <div class="numberCircle">1</div>
        <h4 class="whiteText">Interagency Agreement and Waivers</h4>
        <p class="whiteText">More info</p>
    </div>

    <div class="third-block">
        <div class="numberCircle">2</div>
        <h4 class="whiteText">Funding Documentation/MIPR</h4>
        <p class="whiteText">More info</p>
    </div>

    <div class="third-block">
        <div class="numberCircle">3</div>
        <h4 class="whiteText">Introduction <br>to the IPT</h4>
        <p class="whiteText">More info</p>
    </div>    
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big">
    <div class="third-block">
        <iframe width="300" height="169" src="https://www.youtube.com/embed/OsmQ4mhzj1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="third-block">
        <iframe width="300" height="169" src="https://www.youtube.com/embed/0BOKLbK-LuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="third-block">
        <iframe width="300" height="169" src="https://www.youtube.com/embed/MpYputaJduE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big darkblock">
    <div class="infoblock darkblock">
        <h2 class="whiteText">Contract Vehicles</h2>
        <p class="withSideBuffer">FEDSIM can utilize any government-wide contract vehicle, which allows our team to determine the most cost effective, innovative acquisition solution for each client's requirements. The contract vehicles shown below are examples of ones we use; it is not an all inclusive list of options. </p>
    </div>
</div>

<div class="flex-wrapper-big darkblock">
    <div class="fourth-block darkblock"></div>

    <div class="fourth-block darkblock">
        <h5 class="whiteText">
            8(a) - STARS II<br>
            Alliant<br>
            Alliant 2 Small Business<br>
            OASIS
        </h5>
    </div>

    <div class="fourth-block darkblock">
        <h5 class="whiteText">
            OASIS SMall Business<br>
            GSA Schedules<br>
            NASA SEWP
        </h5>
    </div>

    <div class="fourth-block darkblock"></div>
</div>