{% asset join-us.jpg alt="JOIN US" %}

<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h1 class="big-titles">We are FEDSIM</h1>
        <p><b>Our talented acquisition, financial and project management experts are helping our clients achieve their missions.</b></p>
    </div>
</div>
<div class="flex-wrapper-big">
    <div class="one-fourth section-btn">
        <a href="#jobs"><b>Open Positions</b></a>
    </div>

    <div class="bio-spacer"></div>

    <div class="one-fourth section-btn">
        <a href="#perks"><b>Perks and Benefits</b></a>
    </div>

    <div class="bio-spacer"></div>
    
    <div class="one-fourth section-btn">
        <a href="#paths"><b>Career Paths</b></a>
    </div>
</div>

<div class="v-buffer"></div>
    
<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="jobs">Open Positions</div>
        <div class="infoblock">
            <p>We're looking for creative, detail-oriented experts who want to join a diverse, collaborative team. <br>Visit <a href="https://www.usajobs.gov/Search/Results?k=FEDSIM" onClick="return confirm('This link will take you to the USA Jobs website, which is managed by USA Jobs.')" class="external" target="_new">USAJobs</a> to review open FEDSIM positions.</p>
            <!-- begin open positions -->
            <p class="post-text"><b>Job Posting:</b> <a href="">Sample Project Manager (Q88799-09) </a></p>
            <!-- end open positions -->
        </div>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="perks">Perks and Benefits</div>
        <div class="flex-wrapper">
            <div class="half-block">
                <ul>
                    <li>Mission focused work</li>
                    <li>Affect government innovation</li>
                    <li>Collaborative environment</li>
                    <li>Diverse team culture</li>
                </ul>
            </div>
            <div class="half-block">
                <ul>
                    <li>Flexible work schedules</li>
                    <li>First-class benefits</li>
                    <li>Training & career development</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="paths">Career Paths</div>
        <div class="infoblock">
            <h2>Acquisition</h2>
            <p>Contracting Specialists (CS) and Contracting Officers (CO) leverage their knowledge of complex acquisition policy to pinpoint contractually compliant solutions that solve each client's unique challenges. They are solution brokers, leaders, and quality managers.</p>
            <br><br>
            <h2>Project Manager</h2>
            <p>Project managers and Acquisition Project Managers plan, organize, and execute client projects from start to finish to ensure that industry partners deliver high-quality solutions on time and on budget. They are client advocates, ensuring client engagenment and satisfaction throughout the project life cycle.</p>
            <br>
        </div>
    </div>
</div>