<div class="grid-container">
    <!-- first row -->
    <h2>FEDSIM LEADERSHIP</h2>
    <p>FEDSIM is divided into seven sectors: Civilian, Air Force, Department of Defense, Army, Navy, GCC and Innovation. Each sector understands the speicialized circumstances and regulations applicable to the four groups. This specialization helps deliver value to these clients agencies.</p>
        <div class="grid-row-framed v-buffer">
           <div class="flex-wrapper" style="border: 2px solid var(--fedsim-litegrey)">
            <div class="memberblock">
                {% asset CB_pic.png class="member-pic" alt="Chris Bennethum" %}
                <br>
                <p class="allcaps">Chris Bennethum</p>
                <p>Acting Assistant <br>Commissioner, AAS</p>
            </div>
            <div class="memberblock">
                {% asset Chris-Hamm.png class="member-pic" alt="Chris Hamm" %}
                <br>
                <p class="allcaps">Chris Hamm</p>
                <p>Director, FEDSIM</p>
            </div>
           </div>
           <div class="bio-spacer-big"></div>
           <div class="flex-wrapper" style="border: 2px solid var(--fedsim-litegrey)">
            <div class="memberblock">
                {% asset MA_pic.png class="member-pic" alt="Mark Aucello" %}
                <br>
                <p class="allcaps">Mark Aucello</p>
                <p>Director, FEDSIM</p>
            </div>
            <div class="memberblock">
                {% asset Pete-Burr.png class="member-pic" alt="Pete Burr" %}
                <br>
                <p class="allcaps">Pete Burr</p>
                <p>Director, FEDSIM</p>
            </div>
            <div class="memberblock">
                {% asset Erin-Childs.png class="member-pic" alt="Erin Childs" %}
                <br>
                <p class="allcaps">Erin Childs</p>
                <p>Director, FEDSIM</p>
            </div>
            <div class="memberblock">
                {% asset Corey-Nickens.png class="member-pic" alt="Corey Nickens" %}
                <br>
                <p class="allcaps">Corey Nickens</p>
                <p>Director, FEDSIM</p>
            </div>
           </div>
        </div>
    <!-- second row -->
        <div class="grid-row-framed">
            <div class="flex-wrapper">
                <div id="sect-1-btn" class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-1-box');"
                onmouseout="javascript:loseBox('sect-1-box');">
                    CIVILIAN
                </div>
                <div class="infoblock linebox">
                    <hr class="small-line">
                </div>
                <div id="sect-2-btn"  class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-2-box');"
                onmouseout="javascript:loseBox('sect-2-box');">
                    AIR FORCE
                </div>
                <div class="infoblock linebox">
                    <hr class="small-line">
                </div>
                <div id="sect-3-btn"  class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-3-box');"
                onmouseout="javascript:loseBox('sect-3-box');">
                    DOD
                </div>
                <div class="infoblock linebox">
                    <hr class="small-line">
                </div>
                <div id="sect-4-btn"  class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-4-box');"
                onmouseout="javascript:loseBox('sect-4-box');">
                    ARMY
                </div>
                <div class="infoblock linebox">
                    <hr class="small-line">
                </div>
                <div id="sect-5-btn"  class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-5-box');"
                onmouseout="javascript:loseBox('sect-5-box');">
                    NAVY
                </div>
                <div class="infoblock linebox">
                    <hr class="small-line">
                </div>
                <div id="sect-6-btn"  class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-6-box');"
                onmouseout="javascript:loseBox('sect-6-box');">
                    GCC
                </div>
                <div class="infoblock linebox">
                    <hr class="small-line">
                </div>
                <div id="sect-7-btn"  class="darkblock wordbox" 
                onmouseover="javascript:findBox('sect-7-box');"
                onmouseout="javascript:loseBox('sect-7-box');">
                    INNOVATION
                </div>
            </div>
        </div>
    
    <!-- third row -->
        <div class="grid-row-framed v-buffer">
            <div class="flex-wrapper">
                <div id="sect-1-box" class="sectorblock">   <!-- CIVILIAN block ---------------------------------->
                    <div class="memberblock">
                        {% asset Kristen-Knapper.png class="member-pic" alt="Kristen Knapper" %}
                        <br>
                        <p class="allcaps">Kristen Knapper</p>
                        <p>Civilian Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset Laurel-W.png class="member-pic" alt="Laurel Weiskopf" %}
                        <br>
                        <p class="allcaps">Laurel Weiskopf</p>
                        <p>Acquisition Director</p>
                    </div>
                    <div class="sectorbar sector-1">
                        <h3>CIVILIAN</h3>
                    </div>
                </div>
                
                <div class="bio-spacer"></div>
                
                <div id="sect-2-box" class="sectorblock">   <!-- AIR FORCE block ---------------------------------->
                    <div class="memberblock">
                        {% asset Ken-Evans.png class="member-pic" alt="Ken Evans" %}
                        <br>
                        <p class="allcaps">Ken Evans</p>
                        <p>Air Force/DOD Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset ShadowM_Icon.png class="member-pic" alt="Greg Lee" %}
                        <br>
                        <p class="allcaps">Greg Lee</p>
                        <p>Acquisition Director (AF)</p>
                    </div>
                    <div class="sectorbar sector-2">
                        <h3>AIR FORCE</h3>
                    </div>
                </div>

                <div class="bio-spacer"></div>
                
                <div id="sect-3-box" class="sectorblock">    <!-- DOD block ---------------------------------->
                    <div  class="memberblock">   
                        {% asset Ken-Evans.png class="member-pic" alt="Ken Evans" %}
                        <br>
                        <p class="allcaps">Ken Evans</p>
                        <p>Air Force/DOD Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset Stacey-L.png class="member-pic" alt="Stacey Lowenberg" %}
                        <br>
                        <p class="allcaps">Chris Hamm</p>
                        <p>Acquisition Director (DOD)</p>
                    </div>
                    <div class="sectorbar sector-3">
                        <h3>DOD</h3>
                    </div>
                </div>
            </div>
        </div>
    <!-- fourth row -->
        <div class="grid-row-framed v-buffer">
            <div class="flex-wrapper">
                <div id="sect-4-box" class="sectorblock">   <!-- ARMY block ---------------------------------->
                    <div class="memberblock">
                        {% asset Mike-M.png class="member-pic" alt="Mike Marquez" %}
                        <br>
                        <p class="allcaps">Mike Marquez</p>
                        <p>Army/Navy Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset JM_pic.png class="member-pic" alt="Jeff McMullan" %}
                        <br>
                        <p class="allcaps">Jeff McMullen</p>
                        <p>Acquisition Director</p>
                    </div>
                    <div class="sectorbar sector-4">
                        <h3>ARMY</h3>
                    </div>
                </div>
                
                <div class="bio-spacer"></div>
                
                <div id="sect-5-box" class="sectorblock">   <!-- NAVY block ---------------------------------->
                    <div class="memberblock">
                        {% asset Mike-M.png class="member-pic" alt="Mike Marquez" %}
                        <br>
                        <p class="allcaps">Mike Marquez</p>
                        <p>Army/Navy Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset ShadowM_Icon.png class="member-pic" alt="Dennis Bailey" %}
                        <br>
                        <p class="allcaps">Dennis Bailey</p>
                        <p>Acquisition Director (Navy)</p>
                    </div>
                    <div class="sectorbar sector-5">
                        <h3>NAVY</h3>
                    </div>
                </div>
                
                <div class="bio-spacer"></div>
                
                <div id="sect-6-box" class="sectorblock">   <!-- GCC block ---------------------------------->
                    <div class="memberblock">
                        {% asset JP_pic2020.png class="member-pic" alt="Jim Piché" %}
                        <br>
                        <p class="allcaps">Jim Piché</p>
                        <p>GCC Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset MikeSkorny3.png class="member-pic" alt="Mike Skorny" %}
                        <br>
                        <p class="allcaps">Mike Skorny</p>
                        <p>Acquisition Director</p>
                    </div>
                    <div class="sectorbar sector-6">
                        <h3>GCC</h3>
                    </div>
                </div>
            </div>
        </div>
    <!-- fifth row-->
    <div class="grid-row-framed v-buffer">
        <div class="flex-wrapper">
            <div class="blankblock"></div>
            
            <div class="bio-spacer"></div>
            
            <div id="sect-7-box" class="sectorblock">   <!-- INNOVATION block ---------------------------------->
                <div class="memberblock">
                    {% asset Chris-Hamm.png class="member-pic" alt="Chris Hamm" %}
                <br>
                <p class="allcaps">Chris Hamm</p>
                <p>Innovation Director</p>
                </div>
                <div class="memberblock">
                    {% asset AngieDonahoo.png class="member-pic" alt="Angie Donahoo" %}
                    <br>
                    <p class="allcaps">Angie Donahoo</p>
                    <p>Innovation Acquisition</p>
                </div>
                <div class="sectorbar sector-7" style="border: solid 2px var(--fedsim-darkgrey); color: var(--fedsim-darkgrey);">
                    <h3>INNOVATION</h3>
                </div>
            </div>
            
            <div class="bio-spacer"></div>
            
            <div class="blankblock"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function findBox(box)
    {
        var thisBox = document.getElementById(box);
        thisBox.style.borderColor = "var(--fedsim-blue1)";
    }

    function loseBox(boxx)
    {
        var thatBox = document.getElementById(boxx);
        thatBox.style.borderColor = "var(--fedsim-litegrey)";
    }

</script>