<div class="grid-container">
    <!-- first row -->
        <div class="grid-row v-buffer">
           <div class="flex-wrapper">
            <div class="memberblock">
                {% asset CB_pic.png class="member-pic" alt="Chris Bennethum" %}
                <br>
                <p class="allcaps">Chris Bennethum</p>
                <p>Acting Assistant <br>Commissioner, AAS</p>
            </div>
            <div class="memberblock">
                {% asset Chris-Hamm.png class="member-pic" alt="Chris Hamm" %}
                <br>
                <p class="allcaps">Chris Hamm</p>
                <p>Director, FEDSIM</p>
            </div>
           </div>
           <div class="bio-spacer"></div>
           <div class="bio-spacer"></div>
           <div class="flex-wrapper">
            <div class="memberblock">
                {% asset MA_pic.png class="member-pic" alt="Mark Aucello" %}
                <br>
                <p class="allcaps">Mark Aucello</p>
                <p>Director, FEDSIM</p>
            </div>
            <div class="memberblock">
                {% asset Pete-Burr.png class="member-pic" alt="Pete Burr" %}
                <br>
                <p class="allcaps">Pete Burr</p>
                <p>Director, FEDSIM</p>
            </div>
            <div class="memberblock">
                {% asset Erin-Childs.png class="member-pic" alt="Erin Childs" %}
                <br>
                <p class="allcaps">Erin Childs</p>
                <p>Director, FEDSIM</p>
            </div>
            <div class="memberblock">
                {% asset Corey-Nickens.png class="member-pic" alt="Corey Nickens" %}
                <br>
                <p class="allcaps">Corey Nickens</p>
                <p>Director, FEDSIM</p>
            </div>
           </div>
        </div>
    <!-- second row -->
        <div class="grid-row">
            
        </div>
    
    <!-- third row -->
        <div class="grid-row v-buffer">
            <div class="flex-wrapper">
                <div class="sectorblock">   <!-- CIVILIAN block ---------------------------------->
                    <div class="memberblock">
                        {% asset Kristen-Knapper.png class="member-pic" alt="Kristen Knapper" %}
                        <br>
                        <p class="allcaps">Kristen Knapper</p>
                        <p>Civilian Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset Laurel-W.png class="member-pic" alt="Laurel Weiskopf" %}
                        <br>
                        <p class="allcaps">Laurel Weiskopf</p>
                        <p>Acquisition Director</p>
                    </div>
                    <div class="sectorbar sector-1">
                        <h3>CIVILIAN</h3>
                    </div>
                </div>
                
                <div class="bio-spacer"></div>
                
                <div class="sectorblock">   <!-- AIR FORCE block ---------------------------------->
                    <div class="memberblock">
                        {% asset Ken-Evans.png class="member-pic" alt="Ken Evans" %}
                        <br>
                        <p class="allcaps">Ken Evans</p>
                        <p>Air Force/DOD Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset ShadowM_Icon.png class="member-pic" alt="Greg Lee" %}
                        <br>
                        <p class="allcaps">Greg Lee</p>
                        <p>Acquisition Director (AF)</p>
                    </div>
                    <div class="sectorbar sector-2">
                        <h3>AIR FORCE</h3>
                    </div>
                </div>

                <div class="bio-spacer"></div>
                
                <div class="sectorblock">
                    <div class="memberblock">   <!-- DOD block ---------------------------------->
                        {% asset Ken-Evans.png class="member-pic" alt="Ken Evans" %}
                        <br>
                        <p class="allcaps">Ken Evans</p>
                        <p>Air Force/DOD Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset Stacey-L.png class="member-pic" alt="Stacey Lowenberg" %}
                        <br>
                        <p class="allcaps">Chris Hamm</p>
                        <p>Acquisition Director (DOD)</p>
                    </div>
                    <div class="sectorbar sector-3">
                        <h3>DOD</h3>
                    </div>
                </div>
            </div>
        </div>
    <!-- fourth row -->
        <div class="grid-row v-buffer">
            <div class="flex-wrapper">
                <div class="sectorblock">   <!-- ARMY block ---------------------------------->
                    <div class="memberblock">
                        {% asset Mike-M.png class="member-pic" alt="Mike Marquez" %}
                        <br>
                        <p class="allcaps">Mike Marquez</p>
                        <p>Army/Navy Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset JM_pic.png class="member-pic" alt="Jeff McMullan" %}
                        <br>
                        <p class="allcaps">Jeff McMullen</p>
                        <p>Acquisition Director</p>
                    </div>
                    <div class="sectorbar sector-4">
                        <h3>ARMY</h3>
                    </div>
                </div>
                
                <div class="bio-spacer"></div>
                
                <div class="sectorblock">   <!-- NAVY block ---------------------------------->
                    <div class="memberblock">
                        {% asset Mike-M.png class="member-pic" alt="Mike Marquez" %}
                        <br>
                        <p class="allcaps">Mike Marquez</p>
                        <p>Army/Navy Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset ShadowM_Icon.png class="member-pic" alt="Dennis Bailey" %}
                        <br>
                        <p class="allcaps">Dennis Bailey</p>
                        <p>Acquisition Director (Navy)</p>
                    </div>
                    <div class="sectorbar sector-5">
                        <h3>NAVY</h3>
                    </div>
                </div>
                
                <div class="bio-spacer"></div>
                
                <div class="sectorblock">   <!-- GCC block ---------------------------------->
                    <div class="memberblock">
                        {% asset JP_pic2020.png class="member-pic" alt="Jim Piché" %}
                        <br>
                        <p class="allcaps">Jim Piché</p>
                        <p>GCC Director</p>
                    </div>
                    <div class="memberblock">
                        {% asset MikeSkorny3.png class="member-pic" alt="Mike Skorny" %}
                        <br>
                        <p class="allcaps">Mike Skorny</p>
                        <p>Acquisition Director</p>
                    </div>
                    <div class="sectorbar sector-6">
                        <h3>GCC</h3>
                    </div>
                </div>
            </div>
        </div>
    <!-- fifth row-->
    <div class="grid-row v-buffer">
        <div class="flex-wrapper">
            <div class="sectorblock blankblock">   <!-- blank block ---------------------------------->
            
            </div>
            
            <div class="bio-spacer"></div>
            
            <div class="sectorblock">   <!-- INNOVATION block ---------------------------------->
                <div class="memberblock">
                    {% asset Chris-Hamm.png class="member-pic" alt="Chris Hamm" %}
                <br>
                <p class="allcaps">Chris Hamm</p>
                <p>Innovation Director</p>
                </div>
                <div class="memberblock">
                    {% asset AngieDonahoo.png class="member-pic" alt="Angie Donahoo" %}
                    <br>
                    <p class="allcaps">Angie Donahoo</p>
                    <p>Innovation Acquisition</p>
                </div>
                <div class="sectorbar sector-5">
                    <h3>INNOVATION/h3>
                </div>
            </div>
            
            <div class="bio-spacer"></div>
            
            <div class="sectorblock blankblock">   <!-- blank block ---------------------------------->
            
            </div>
        </div>
    </div>
        
      </div>