<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h2>Client Toolkit</h2>
        <p>FEDSIM Acquisitions are managed by an Integrated Project Team (IPT) to ensure that the acquisition runs smoothly, meets the clients' requirements, and conforms to all Federal acquisition regulations and policies. Ancillary team members provide support to the IPT and the organization to ensure quality and compliance.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="half-block">
        <iframe width="400" height="225" src="https://www.youtube.com/embed/OsmQ4mhzj1M" frameborder="0" name="FEDSIM Due Diligence for Government Clients"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="half-block">
        <iframe width="400" height="225" src="https://www.youtube.com/embed/0BOKLbK-LuE" frameborder="0" name="FEDSIM Client Expectations for Cost Plus Award Fee Contracts"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="half-block">
        <iframe width="400" height="225" src="https://www.youtube.com/embed/MpYputaJduE" frameborder="0" name="FEDSIM Introduction to the TEB"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="half-block">
        <iframe width="400" height="225" src="https://www.youtube.com/embed/y4PtAs0LPKs" frameborder="0" name="FEDSIM Due Diligence for Industry Partners"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <hr class="highlight-line">

        <h2>FEDSIM Blog</h2>
        <p>Find our best practices and lessons learned from the work we do to serve our clients.</p>
        <h5 style="color: var(--fedsim-purple); font-weight: 600;">Coming soon...</h5>
    </div>
</div>
