<!-- first row -->
<div class="flex-wrapper-big">
    <div class="infoblock">
    <h2>Our Work</h2>
    <p>FEDSIM serves all federal agencies. Our acquisition, financial, and project management experts develop creative solutions to ensure quality and compliance throughout the lifecycle of each acquisition. Mouse over the images below to learn more about some of the projects in our diverse portfolio.
    </p>
    </div>
</div>

<div class="flex-wrapper-big">
    <!-- project 1 -->
    <div class="problock-container color-back-blue1">
        <h5 class="blocktitle" tabindex="1">Department of State (DoS) <br>Bureau of Consular Affairs (CS)</h5>
        <div class="problock proj-1">
            <div class="problock problock-inner stack-top"  tabindex="2">
                Consular Affairs Enterprise Infrastructure Operations (CAEIO)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="3">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$810</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 2 -->
    <div class="problock-container color-back-purple">
        <h5 class="blocktitle" tabindex="4"><br>Remote Sensing Center <br>(RSC) - NCR</h5>
        <div class="problock proj-2">
            <div class="problock problock-inner stack-top"  tabindex="5">
                Development and Sustainment of Intelligence Surveillance and Reconnaissance (ISR) Platforms in Support of Maritime Patrol and Reconnaissance Aircraft (MPRA)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="6">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$920</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- project 3 -->
    <div class="problock-container color-back-pink">
        <h5 class="blocktitle" tabindex="7">United States Special Operations Command Pacific (SOCPAC)</h5>
        <div class="problock proj-3">
            <div class="problock problock-inner stack-top"  tabindex="8">
                Combatant Commands C5ISR - Pacific Operations (C3PO)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="9">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$674</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 4 -->
    <div class="problock-container color-back-purple">
        <h5 class="blocktitle" tabindex="10"><br>Joint Artificial Intelligence Center (JAIC)</h5>
        <div class="problock proj-4">
            <div class="problock problock-inner stack-top"  tabindex="11">
                Joint Warfighting National Mission Initiative (JWNMI)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="12">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$744</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!-- second row -->
<div class="flex-wrapper-big">

    <!-- project 5 -->
    <div class="problock-container color-back-blue1">
        <h5 class="blocktitle" tabindex="13">Office of the Director of National Intelligence (ODNI) / National Counterterrorism Center (NCTC)</h5>
        <div class="problock proj-5">
            <div class="problock problock-inner stack-top"  tabindex="14">
                Pathfinder
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="15">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$937</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 6 -->
    <div class="problock-container color-back-gold">
        <h5 class="blocktitle" tabindex="16"><br>Department of Defense <br>(DoD)</h5>
        <div class="problock proj-6">
            <div class="problock problock-inner stack-top"  tabindex="17">
                Enhanced C5ISR/EW Planning, Execution, Review, and Training (EXPERT) 
                Chesapeake Technology International
                Small Business Innovation Research Phase III
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="18">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$167</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- project 7 -->
    <div class="problock-container color-back-purple">
        <h5 class="blocktitle" tabindex="19">United States Special Operations Command Pacific (SOCPAC)</h5>
        <div class="problock proj-7">
            <div class="problock problock-inner stack-top"  tabindex="20">
                Combatant Commands C5ISR - Pacific Operations (C3PO)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="21">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$674</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 8 -->
    <div class="problock-container">
        <h5 class="blocktitle" tabindex="22"><br>Joint Artificial Intelligence Center (JAIC)</h5>
        <div class="problock proj-8">
            <div class="problock problock-inner stack-top"  tabindex="23">
                Joint Warfighting National Mission Initiative (JWNMI)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="24">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$744</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>
