// Import the US Web Design System SASS.

@import "uswds";

html{
  font-family: "Montserrat", sans-serif;

}

/* FEDSIM COLORS */
:root{
  --fedsim-blue1: #1D5187;
  --fedsim-blue2: #4B92CE;
  --fedsim-blue3: #4D7999;
  --fedsim-blue4: #90CBE4;
  --fedsim-darkgrey: #424143;
  --fedsim-litegrey: #B3B4B4;
  --fedsim-purple: #570A3B;
  --fedsim-pink: #AA839D;
}

// Add your SASS/CSS here
h2{
  color: var(--fedsim-blue1);
  font-size: 1.6em;
}

@media screen and (max-width: 400px){
  h2{
    font-size: 1.2em;
  }
}

//Header styles
.usa-banner__inner {
  display: block;
  align-items: center;
  text-align: center;
}

//Footer styles
hr.footer-border{
  width: 100vw;
  border-bottom: 3px solid var(--fedsim-lightgrey);
  
}

.footer_side_left, .footer_side_right{
  color: var(--fedsim-blue1);
}

.absolute_bottom{
  display: block;
}

//Callout styles
.usa-hero{
  background-image: asset_url("home.jpg");
  height: 500px;
}

.usa-hero__callout{
  background-color: white;
  border-radius: 12px;
}

.usa-hero__callout, .usa-hero__heading{
  color: var(--fedsim-blue1);
}

.usa-hero__heading{
  font-family: "Garamond";
  font-size: 2rem;
}

@media screen and (min-width: 40em){
  .usa-hero__callout{
    min-width: 34rem;
  }
}

//Blocks
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.infoblock{
  color: var(--fedsim-blue1);
  background-color: white;
}

.infoblock-dark, .fourth-block-dark{
  color: white;
  background-color: var(--fedsim-blue1);
}

.half-block, .third-block, .fourth-block {
  display: grid;
  padding: 10px;
  justify-content: space-around ;
}

.half-block{
  width: 50%;
}

.on-left{
  border-right: solid white 3px;
}

.on-right{
  border-left: solid white 3px;
}

.third-block{
  width: 33%;
}

.fourth-block, .fourth-block-dark{
  width: 24%;
}

.fourth-block-dark{
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  padding-bottom: 16px;
}

.block-title{
  font-size: large;
  color: var(--fedsim-blue2);
}

.block-text-med, .block-text-big, .block-num-med, .block-num-big{
  margin: 0;
  font-weight: bold;
}

.block-text-med{
  font-size: 1.2em;
}

.block-text-big{
  font-size: 2em;
}

.block-num-med{
  font-size: 5em;
}

.block-num-big{
  font-size: 6em;
}

@media screen and (max-width: 400px){
  .block-text-med{
    font-size: 0.8em;
  }
  
  .block-text-big{
    font-size: 1em;
  }
  
  .block-num-med{
    font-size: 2em;
  }
  
  .block-num-big{
    font-size: 3em;
  }
}

hr.highlight-line, hr.highlight-line-sm{
  border-top: 5px solid var(--fedsim-blue1);
  border-radius: 2px;
}

hr.highlight-line{
  width: 290px;
}

hr.highlight-line-sm{
  width: 220px;
}

//About Us percentage circle
.pie {
	width: 200px;
	height: 200px;
  display: inline-block;
  transform: rotate(-90deg);
}

.pie-percentage{
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  z-index: 999;
  margin: 10px;
}

svg {
	background: var(--fedsim-blue1);
	border-radius: 50%;
}

circle {
	fill: var(--fedsim-blue1);
	stroke: var(--fedsim-blue3);
	stroke-width: 32;
}

@keyframes grow { to { stroke-dasharray: 100 100 } }

.pie.animated circle {
	animation: grow 2s infinite linear;
}


// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
